@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');
*{
  padding: 0;
  margin: 0;
	box-sizing: border-box;
	
}

html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  background-color: rgb(111, 158, 64);;
}
body, html {
	overflow-X: hidden;
}

.container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Navigation Bar Section */
#nav-bar {
	height: auto;
	width: 100%;
	position: fixed;
	z-index: 100;
	background-color: rgb(111, 158, 64);
}

.nav-bar {
	background-color: rgb(111, 158, 64);
	left: 0;
	top: 0;
	padding: 1rem 5rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-bar .brand i {
	color: #fff;
  text-shadow: 0 0 3px #000;
	font-size: 4rem;
}

.nav-bar .nav-list {
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-bar .nav-list .hamburger {
	border: 5px solid #fff;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70px;
	width: 70px;
	transition: .3s ease transform;
	cursor: pointer;
}

.nav-bar .nav-list .hamburger.active {
	transform: rotate(360deg);
}

.nav-bar .nav-list .hamburger.active .bar:before {
	top: 0;
	transform: rotate(45deg);
}

.nav-bar .nav-list .hamburger.active .bar:after {
	top: 0;
	transform: rotate(-45deg);
}

.nav-bar .nav-list .hamburger.active .bar {
	background-color: transparent;
}

.nav-bar .nav-list .hamburger .bar {
	height: 4px;
	width: 30px;
	background-color: #fff;
	position: relative;
	display: flex;
}

.nav-bar .nav-list .hamburger .bar::before,
.nav-bar .nav-list .hamburger .bar::after {
	content: '';
	position: absolute;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #fff;
	transition: .3s ease all;
}

.nav-bar .nav-list .hamburger .bar::before {
	top: 8px;
}

.nav-bar .nav-list .hamburger .bar::after {
	bottom: 8px;
}

.nav-bar .nav-list ul {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	padding: 5rem 0;
	transform: translateY(-100%);
	transition: .3s ease transform;
	text-align: center;
	z-index: -1;
	background-color: rgb(68, 100, 35);
}

.nav-bar .nav-list ul li {
	list-style: none;
	display: block;
	position: relative;
}

.nav-bar .nav-list ul li:hover:after {
	transform: translateX(-50%) scale(1);
}

.nav-bar .nav-list ul li:after {
	content: '';
	position: absolute;
	width: 5rem;
	height: .5rem;
	background-color: #fff;
	left: 50%;
	transform: translateX(-50%) scale(0);
	bottom: 0;
	transition: .3s ease transform;
}

.nav-bar .nav-list ul li a {
	font-size: 2rem;
	text-decoration: none;
  font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	display: block;
	letter-spacing: .15rem;
  padding: 2rem 3rem;
}

.nav-bar .nav-list.open ul {
	transform: translateY(90px);
}
/* END Navigation Bar Section */

/* Landing Section */
.landing {
  min-height: 80vh;
  width: 100%;
  padding-top: 10rem;
  background-color: rgb(111, 158, 64);
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.landing .landing-info {
  width: 100%;
  text-align: center;
}

.landing .landing-info .landing-info-heading {
  font-size: 5rem;
  font-weight: 500;
  color: white;
}

.landing .landing-info .landing-info-subheading {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: .5rem;
  color: #fff;
}

.landing .landing-info .landing-info-button {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 2rem 5rem;
  display: inline-block;
  font-size: 1.7rem;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  letter-spacing: .6rem;
	background-color: rgb(111, 158, 64);
  transition: 0.3s ease all;
  overflow: hidden;
  border: 2px solid white;
  font-weight: 800;
}

.landing .landing-info .landing-info-button:hover {
  color: rgb(111, 158, 64);;
  background: whitesmoke;
	box-shadow: 0 0 10px whitesmoke, 0 0 40px whitesmoke, 0 0 80px whitesmoke;
  border: 2px solid white;
}

.landing .landing-img {
  height: auto;
  margin-bottom: 3rem;
}

.landing .landing-img img {
  height: 100%;
  width: 100%;
}
/* END Landing Section */

/* Explain Section */
.explain {
  min-height: 80vh;
  width: 100%;
  padding-top: 10rem;
  justify-content: center;
  background-color: #fff;
	display: flex;
	flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.explain .explain-image {
  height: auto;
  width: 100%;
	margin-bottom: 3rem;
  
}
.explain .explain-image img {
  height: 100%;
	width: 100%;
	border-radius: none;
}

.explain .explain-info {
  width: 80%;
  text-align: center;
}

.explain .explain-info .explain-info-heading {
  font-size: 5rem;
  font-weight: 300;
	color: #444;
	transition: 1s ease all;
}

.explain:hover .explain-info .explain-info-heading {
	text-shadow: 0 0 4px #444;
	transition: 0.7s ease all;
}

.explain .explain-info .explain-info-text {
  font-size: 1.6rem;
  letter-spacing: .1rem;
  color: #444;
  margin-bottom: 30px;
}

.explain .icons {
	display: flex;
	justify-content: space-around;
	text-align: center;
}


.explain .icons .icon p {
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #444;
}

.explain .icons .icon i {
	color: #444;
	font-size: 4rem;
}
/* END Explain Section */

/* Footer Section */
.footer {
  min-height: 20vh;
  width: 100%;
  background-color: black;
  color: white;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
}

.footer .footer-contact .footer-contact-info {
  font-size: 1.4rem;
  padding-top: 10px;
  letter-spacing: .2rem;
}

.footer .footer-social-follow .footer-social-icon a {
  color: white;
  font-size: 3rem;
  margin: .4rem;
  display: inline-block;
}

.footer-data {
	float: right;
	margin-left: auto;
	margin-right: 0;
}

.footer-data a {
	text-decoration: none;
  color: white;
  font-size: 1.3rem;
	margin: .4rem;
}
/* END Footer Section */

/* Media query for desktop and tab */
@media only screen and (min-width:768px) {
  .nav-bar .nav-list .hamburger {
		display: none;
  }
  
	.nav-bar {
		width: 80%;
  }
  
	.nav-bar .nav-list ul {
		transform: translateX(0);
		position: initial;
		padding: 0;
		z-index: initial;
		background-color: transparent;
  }
  
	.nav-bar .nav-list ul li {
		display: inline-block;
	}

  .landing {
    height: 100vh;
    flex-direction: row;
    padding-left: 10%;
    justify-content: center;
    align-items: center;
  }

  .landing .landing-info {
    max-width: 30%;
    text-align: left;
  }

  .landing .landing-info .landing-info-subheading {
    font-size: 1.3rem;
    letter-spacing: .5rem;
  }

  .landing .landing-img {
		margin-top: 5rem;
    margin-left: 50px;
    min-width: 300px;
    max-width: 600px;

	}

  .explain .explain-info .explain-info-subheading {
    font-size: 1.3rem;
    letter-spacing: .5rem;
  }

  .explain .explain-image {
		width: 70%;
	}


}


/* END Media query for desktop and tab */

/* Media Query for Desktop ONLY */
@media only screen and (min-width:1200px) {
  .landing .landing-info .landing-info-heading {
    font-size: 6rem;
	}
	
	.explain{
		flex-direction: row;
	}

	.explain .explain-info {
		margin-right: 2%;
		margin-left: 10%;
		text-align: left;
    padding-right: 10%;
	}

	.explain .explain-info ul{
		text-align: left;
	}

	.explain .explain-info .explain-info-heading {
    font-size: 6rem;
	}

}
/* END Media Query for Desktop ONLY */

/* Media Query for Phone and Tablet */
@media only screen and (max-width: 1150px) {
  .profiles {
    flex-direction: column;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile p {
    text-align: center;
    margin: 20px 60px 80px 60px;
    font-size: 20px;
  }
}
/* END Media Query for Phone and Tablet */

/* Media Query for Tablet */
@media only screen and (max-width: 900px) {
  .review-container .heading {
    font-size: 40px;
    color: white;
    text-align: center;
  }

  .review-container .heading span {
    font-size: 15px;
  }

  .profiles {
    margin: 20px 0;
  }

  .profiles .profile p {
    margin: 20px 10px 80px 10px;
  }

	.icons {
    flex-direction: column;
		height: 400px;
  }

	.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/* END Media Query for Tablet */



/*############################################################################################################*/
/*Externe Pages*/

/* Formatierung */
.formatierung_h1 {
	font-size: 4rem;
	color: lightgrey;
	padding: 0 70px 0 70px;
  letter-spacing: .1rem;
}

.formatierung_h2 {
	font-size: 3rem;
	color: lightgrey;
	padding: 40px 70px 0 70px;
  letter-spacing: .1rem;
}

.formatierung_h3 {
	font-size: 15px;
	color: lightgrey;
	padding: 40px 70px 0 70px;
  font-size: 1.7rem;
  letter-spacing: .1rem;
}

/* END Formatierung */

/* Impressum / Datenschutz */
.impressum-datenschutz-container {
	margin-top: 130px;
	margin-bottom: 130px;
	width: 100%;
	height: 100%;
	align-items: center;
}

.impressum-datenschutz-text {
	padding: 0 70px 0 70px;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  color: lightgrey;
}

.impressum-datenschutz-text a {
	text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  color: lightgrey;
}
/* END Impressum */

/* Explain Section */
.story {
  min-height: 80vh;
  width: 100%;
  padding-top: 15rem;
	padding-bottom: 10rem;
  justify-content: center;
  background-color: #111;
	display: flex;
	flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.story .story-img {
	float: left;
	margin: 0 20px 10px 0;
	width: 300px;
	height: auto;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.1), 0 0 10px rgba(255,255,255,0.1), 0 0 20px rgba(255,255,255,0.1);
	-webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.story .story-img img {
  height: 100%;
  width: 100%;
}

.story .story-info {
  width: 80%;
  text-align: justify;
}

.story .story-info .story-info-heading {
  font-size: 5rem;
  font-weight: 300;
	color: lightgrey;
	transition: 1s ease all;
}

.story .story-info .story-info-text {
  font-size: 1.6rem;
  letter-spacing: .1rem;
  color: lightgrey;
}

.story .story-info .story-info-text-mini {
  font-size: 1.0rem;
  letter-spacing: .1rem;
  color: lightgrey;
}

.story .story-info ul {
	text-align: block;
	font-size: 1.6rem;
  letter-spacing: .1rem;
  color: lightgrey;
	list-style-type: square;
  list-style-position: inside;
	margin: 0;
	padding: 0;
}
/* END Explain Section */

/* Company Section */
.company {
  min-height: 80vh;
  width: 100%;
  justify-content: center;
	display: flex;
	flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.company .company-info {
  width: 80%;
  text-align: block;
}

.company .company-info .company-info-heading {
  font-size: 5rem;
  font-weight: 300;
	color: lightgrey;
	transition: 1s ease all;
}

.company .company-info .company-info-text {
  font-size: 1.6rem;
  letter-spacing: .1rem;
  color: lightgrey;
}

.company .company-info .company-info-text-mini {
  font-size: 1.0rem;
  letter-spacing: .1rem;
  color: lightgrey;
}

.company .company-info ul {
	text-align: block;
	font-size: 1.6rem;
  letter-spacing: .1rem;
  color: lightgrey;
	list-style-type: square;
  list-style-position: inside;
	margin: 0;
	padding: 0;
}
/* END Company Section */

/*END Externe Pages*/